.container {
  text-align: center;
  font-size: 22px;
  max-width: 1000px;
  margin: auto;
  margin-top: 300px;
  margin-bottom: 240px;
  background-color: white;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 0 15px 0 blue;
}
@media screen and (max-width: 960px) {
  .container {
    margin: 250px 30px;
    padding: 30px;
  }
  .container h1 {
    font-size: 25px;
  }
  .container p {
    font-size: 15px;
  }
}