@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins&display=swap');

html {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 100%;
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #0f5e9e, #171163);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
